h1{
    text-align: center;
    color: brown;
    background-color: antiquewhite;
    padding: 10px;
}
p{
    background-color: bisque;
}
div{
    border: 1px solid black;
    margin: 20%;
    padding: 10px;
}
SPAN{text-shadow: 3px salmon;
     color: orange;
     background-color: black;
     font-size: larger;
}